body{
    background-color: rgb(221, 229, 247);
    font-family: cambria;
}
#Titulo {
    font-family: serif;
    text-align: center;
    color: rgb(109, 40, 40);
    font-size: 50px;
}
.Comienzo{
    display: block;
    padding: 2px;
    margin: 5px 130px;
    border-radius: 6px;
    border: 3px solid rgb(109, 40, 40) ;

}
#Mensaje{
    color: rgb(109, 40, 40) ;
    font-weight: bolder;
}
#Reseña {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin: 15px 5px;
    
}
img{
    border: 3px solid rgb(109, 40, 40);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 700px;
    height: 300px; 
}
#SegundoTitulo{
    color: rgb(116, 105, 105);
}
p{
    font-size: 19px;
    margin: 15px 5px;
    padding: 2px
}
.barMenu{
    position: relative;
    padding: 0px;
    margin: 0px 10px;
    max-width: 100%;
    height: 38px;
    background-color: rgb(109, 40, 40);
    border-radius: 5px;
}
.Menu{
    position: relative;
    list-style-type: square;
    font-size: 20px ;
    color: rgb(17, 16, 16);
    text-decoration: underline;
    
   
}
a:hover{
    color: rgb(78, 9, 9);
    background-color: rgb(231, 171, 171);
}
a:link{
    color: rgb(250, 10, 58);
}
#Centrado{
        text-align: center;
	
}

    
  