
.Var{
    color: rgb(206, 54, 54);
}

.Dato{
    color: rgb(17, 136, 233);
}
.Comentario{
    color: rgb(12, 131, 40);
}
.Comienzo{
    font-size: 18px;
}
#objectLiteral{
    border-radius: 6px;
    border: 4px solid rgb(241, 75, 75) ;
}
#objectConstructor{
    border-radius: 6px;
    border: 4px solid rgb(241, 75, 75) ;
}
#objectDestructuring{
    border-radius: 6px;
    border: 4px solid rgb(241, 75, 75) ;
}
#literalEnhacement{
    border-radius: 6px;
    border: 4px solid rgb(241, 75, 75) ;
}
.Promise{
    color: indigo;
}